mat-toolbar {
  padding: 16px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .search-form {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;
    min-width: 0;
    //margin: 0 32px;
  }
}

.search-field {
  width: 30%;
  background: transparent;

  .mat-form-field-outline {
    border-radius: 999px;
  }

  .mat-form-field-infix {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }

  //last div
  div:last-child {
    gap: 8px
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.create-btn {
  background: var(--mat-sys-tertiary-container) !important;
  color: var(--mat-sys-on-tertiary-container) !important;
  box-shadow: none;
  transition: background 0.2s;
}


.search {
  --bg: #fff; /* nền */
  --bd: #e5e7eb; /* viền xám nhạt */
  --ring: rgba(147, 197, 253, .25); /* focus ring */

  display: flex;
  align-items: center;
  width: 30%;
  background: var(--bg);
  border: 1px solid var(--bd);
  padding: 0 12px;
  border-radius: 9999px;
  overflow: hidden; /* để ô icon bo tròn mép phải */
  transition: border-color .15s ease, box-shadow .15s ease;
}

.search:focus-within {
  border-color: #93c5fd;
  box-shadow: 0 0 0 3px var(--ring);
}

/* ---- input ---- */
.search__input {
  flex: 1;
  height: 36px;
  padding: 0 8px;
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  font: 400 14px/1.2 system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

.search__input::placeholder {
  color: #9ca3af;
}
