
<div class="video-grid">
  <div class="video-card">
    <img src="https://i.ytimg.com/vi/abcd123/maxresdefault.jpg" alt="React for Beginners" class="thumbnail"/>
    <div class="video-info">
      <h3 class="title">React for Beginners</h3>
      <p class="channel">Code Academy</p>
      <p class="views">22N lượt xem</p>
    </div>
  </div>

  <div class="video-card">
    <img src="https://i.ytimg.com/vi/efgh456/maxresdefault.jpg" alt="Best Moments U23 VN" class="thumbnail"/>
    <div class="video-info">
      <h3 class="title">Best Moments U23 VN</h3>
      <p class="channel">FPT Bóng Đá Việt</p>
      <p class="views">15N lượt xem</p>
    </div>
  </div>

  <div class="video-card">
    <img src="https://i.ytimg.com/vi/ijkl789/maxresdefault.jpg" alt="Battlefield 2042 RTX 5080" class="thumbnail"/>
    <div class="video-info">
      <h3 class="title">Battlefield 2042 RTX 5080</h3>
      <p class="channel">RTX Gaming</p>
      <p class="views">1 lượt xem</p>
    </div>
  </div>

  <div class="video-card">
    <img src="https://i.ytimg.com/vi/mnop012/maxresdefault.jpg" alt="Never Gonna Give You Up" class="thumbnail"/>
    <div class="video-info">
      <h3 class="title">Never Gonna Give You Up 🎵</h3>
      <p class="channel">Rick Astley</p>
      <p class="views">1,2B lượt xem</p>
    </div>
  </div>
</div>

