<!--em sẽ code ơ đây -->
<div class="channel-header">
  <img class="banner" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/539619974_1089710153269977_2079569891622645956_n.jpg?_nc_cat=1&ccb=1-7&_nc_sid=833d8c&_nc_ohc=Dhf2dhNtxOIQ7kNvwEEKxJ8&_nc_oc=AdltnNlUvMxn6o4ysa1ibxPbAmtEU8YEuGGR1hnyhm5vRtQqDl6jAd5nb1JzdLoEMA0&_nc_zt=23&_nc_ht=scontent.fsgn2-7.fna&_nc_gid=6exbzFTZT09acml1gnIIkQ&oh=00_AfXbzleQmwliUZv2Gc_A55-Y6zNdRZakMtRsN6qPmxcj-A&oe=68B583BF" alt="channel banner">
  <div class="channel-info">
    <img class="avatar" src="https://file3.qdnd.vn/data/images/0/2023/05/03/vuhuyen/khanhphan.jpg?dpi=150&quality=100&w=870" alt="channel avatar">
    <div class="details">
      <h2 class="channel-name">Admin Homie</h2>
      <p class="subscribers">1,2 Tr người đăng ký</p>
      <button mat-flat-button color="primary" class="subscribe-btn">
        Subscribe
      </button>
    </div>
  </div>
</div>

<!-- Đừng đụng vô cái ở dưới anh làm xong rồi nha-->
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedIndex"
               (selectedIndexChange)="onTabChange($event)">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">video_library</mat-icon>
      Videos
    </ng-template>
    @if (selectedIndex == 0) {
      <ng-container>
        <app-video></app-video>
      </ng-container>
    }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">playlist_play</mat-icon>
      Playlists
    </ng-template>
    fd78ce4e   @if (selectedIndex == 1) {
    <ng-container>
      <app-playlist></app-playlist>
    </ng-container>
  }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">thumb_up</mat-icon>
      Liked Videos
    </ng-template>
    @if (selectedIndex == 2) {
      <ng-container>
        <app-liked-videos></app-liked-videos>
      </ng-container>
    }
  </mat-tab>

</mat-tab-group>
