<!--em sẽ code ơ đây -->
<div class="channel-page">
  <!-- Banner -->
  <div class="banner">
    <img
      src="https://photo.znews.vn/w1920/Uploaded/mdf_eioxrd/2021_07_06/2.jpg"
      alt="channel banner"
    />
  </div>

  <!-- Channel info -->
  <div class="channel-info">
    <img
      class="avatar"
      src="https://yt3.googleusercontent.com/ytc/AGIKgqN4O2n.png"
      alt="channel avatar"
    />

    <div class="details">
      <h2>SCTV Thể Thao Official <mat-icon class="verified">check_circle</mat-icon></h2>
      <p>&#64;sctvthethaoofficial · 278 N người đăng ký · 4,9 N video</p>
      <p class="desc">
        Chào mừng các bạn đến với kênh thể thao của Truyền hình SCTV! Đây là trang Youtube chính thức,
        nơi chia sẻ những thông tin mới nhất về thể thao cũng như cập nhật...
      </p>
      <button mat-flat-button color="primary" (click)="openEditProfile()">Edit</button>
    </div>
  </div>

<!-- Đừng đụng vô cái ở dưới anh làm xong rồi nha-->
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedIndex"
               (selectedIndexChange)="onTabChange($event)">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">video_library</mat-icon>
      Videos
    </ng-template>
    @if (selectedIndex == 0) {
      <ng-container>
        <app-video></app-video>
      </ng-container>
    }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">playlist_play</mat-icon>
      Playlists
    </ng-template>
    fd78ce4e   @if (selectedIndex == 1) {
    <ng-container>
      <app-playlist></app-playlist>
    </ng-container>
  }
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon" fontSet="material-symbols-outlined">thumb_up</mat-icon>
      Liked Videos
    </ng-template>
    @if (selectedIndex == 2) {
      <ng-container>
        <app-liked-videos></app-liked-videos>
      </ng-container>
    }
  </mat-tab>

</mat-tab-group>
